@import "tailwindcss";

:root {
  --background: #F9FAF8;
}

@theme inline {
  --color-background: var(--background);
  --font-text: var(--font-poppins);
  --font-display: var(--font-montserrat);
}

body {
  background: var(--background);
  height: 100vh;
}
